@using TEER.ViewModel

@model HomeViewModel

@{
    Model.PageTitle = "Main Menu";
}
<div class="container">
    <div class="row">
        <div class="col-md-2 visible-md visible-lg"></div>
        @*<div class="col-md-8 col-sm-12">
            <span class="h3">Main Menu</span>
            <div class="alert alert-warning" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <b>Attention</b>
                <hr />
                <span class="text-lg">@Html.Raw(Model.PriorCertMessage)</span>
            </div>
            <div class="row">
                <div class="col-sm-2 hidden-xs"></div>
                <div class="col-sm-8 col-xs-12">
                    @if (Model.UncertifiedJobCount > 0)
                    {
                        <div class="btn-box"><input class="btn btn-primary btn-lg btn-block" style="white-space: normal;" type="button" id="btnUncert" onclick="window.location.href='@Url.Action("Index", "UncertifiedRecords")';" value="Certify Existing Records" /></div>
                    }
                    else
                    {
                        <div class="btn-box"><input class="btn btn-primary btn-lg btn-block" type="button" id="btnUncert" style="white-space: normal; color: black; background-color: lightyellow " value="No records exist requiring certification" /></div>
                    }
                    <div class="btn-box"><input class="btn btn-primary btn-lg btn-block" style="white-space: normal;" type="button" id="btnAdd" onclick="window.location.href='@Url.Action("Index", "AddCertification")';" value="Add Certification Record" /></div>
                    <div class="btn-box"><input class="btn btn-primary btn-lg btn-block" style="white-space: normal;" type="button" id="btnView" onclick="window.location.href='@Url.Action("Index", "SearchCertification")';" value="View & Print Certification Record" /></div>
                    @if (Model.UserManual != String.Empty)
                    {<div class="btn-box"><button class="btn btn-primary btn-lg btn-block" id="btnLogin" onclick="window.location.href='@Url.Action("DocumentUnavailableNotice", "Home")';" name="Login">User Manual</button></div>}
                    <div class="btn-box"><button class="btn btn-primary btn-lg btn-block" id="btnFAQ" onclick="window.location.href='@Url.Action("DocumentUnavailableNotice", "Home")';" name="FAQ">FAQ</button></div>
                </div>
                <div class="col-sm-2 hidden-xs"></div>
            </div>
        </div>*@
        <div class="col-md-2 visible-md visible-lg"></div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        @*$("#btnAdd").on("click", function () {
            if (@Model.UncertifiedJobCount > 0) {
                alert("Please certify previous records before adding new ones.");
                return false;
            }
            else {
                window.location.href= "/AddCertification/Index";
            }

        });*@
    });
</script>